body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.container {
  width: 60%;
  background-color: lightyellow;
  text-align: center;
}
